@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Signika:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3F9FFF;
  --primary-bg-color: #000221;
  --secondary-bg-color: #0D0F2C;
}

body {
  font-size: 16px;
  background-color: var(--primary-bg-color);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* signika heading font */
.signika {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}

.primary-bg {
  background: var(--primary-bg-color);
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.glassbg {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.black-glassbg {
  background: rgba(8, 65, 103, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 65, 103, 0.3);
}